/* THIS BODY CSS HELPS WITH POSITIONING THE FOOTER AT THE BOTTOM, BUT NOT FIXED */
body {
  position: relative;
  padding-bottom: 10rem;
  min-height: 100%;
}
.background-color {
  background-color: #232F3E;
}
.modal-overlay {
  background-color: silver;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /* IE8 and lower */
  zoom: 1;
  /* Triggers "hasLayout" in IE 7 and lower */
  z-index: -1;
}

.modal-overlay.active {
  z-index: 0;
  opacity: 0.7;
  filter: alpha(opacity=50);
  /* IE8 and lower */
  zoom: 1;
  /* Triggers "hasLayout" in IE 7 and lower */
  cursor: pointer;
}

.modal {
  padding: 10px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 0;
  width: 400px;
  max-width: 90%;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
}

.modal::before {
  content: "Add New Item";
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}

#title-before-save::placeholder {
  font-style: italic;
}

#text-area-for-copy {
  resize: none;
  background: transparent;
}

/* ----------------------------------------------
 * source: http://animista.net
 * ---------------------------------------------- */
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/* Source:  https://codepen.io/mtbroomell/pen/yNwwdv */
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  background: #eee;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#counter-container #decrement-btn {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

#counter-container #increment-btn {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

#counter {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 35px;
}
.preventAutoZoom {
   touch-action: none;
}

