<div id="new-item-container-wrapper" class="modal shadow-2xl bg-white p-2 min-w-md mx-auto" style="display: none";>
  <div class="mb-4">
    <input type="text" class="bg-gray-200 p-2" id="new-item-input">
  </div>
  <div id="choose-category">
    <div>
      <label class="cursor-pointer" for="Fruits">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Fruits" value="Fruits" />
        Fruits
      </label>
      <label class="cursor-pointer" for="Vegetables">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Vegetables" value="Vegetables" />
        Vegetables
      </label>
      <label class="cursor-pointer" for="Condiments">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Condiments" value="Condiments" />
        Condiments
      </label>
      <label class="cursor-pointer" for="Frozen">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Frozen" value="Frozen" />
        Frozen
      </label>
      <label class="cursor-pointer" for="Meat">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Meat" value="Meat" />
        Meat
      </label>
      <label class="cursor-pointer" for="Fresh">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Fresh" value="Fresh" />
        Fresh
      </label>
      <label class="cursor-pointer" for="Kids">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Kids" value="Kids" />
        Kids
      </label>
      <label class="cursor-pointer" for="Health">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Health" value="Health" />
        Health
      </label>
      <label class="cursor-pointer" for="Others">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Others" value="Others" />
        Others
      </label>
    </div>
  </div>
  <button class="float-right text-white bg-blue-600 hover:bg-blue-800 px-2 rounded" id="add-new-item-btn">Add Item</button>
  <button class="absolute px-2 hover:bg-gray-700 rounded-full text-2xl text-white bg-gray-900" style="top: 0; right: 0;" id="close-add-new-item-modal">X</button>
</div>

 