<div class="modal-overlay"></div>
<footer class="bg-black text-white w-full" style="bottom: 0; left: 0; right: 0; position: absolute;">
    <div class="flex justify-between max-w-3xl mx-auto p-4 text-xs">
        <div id="github-container">
            <h3 class="mb-2">This Project is Open Sourced. Contribute Code:</h3>
            <a class="flex" href="https://github.com/dankore/shopping-aid">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-github">
                    <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                    </path>
                </svg>
                <span class="inline-block ml-2">GitHub</span>
            </a>
        </div>
        <div class="stats-container">
            <h3 class="mb-2">Number of Shopping List Created:</h3>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-trending-up">
                    <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                    <polyline points="17 6 23 6 23 12"></polyline>
                </svg>
                <span id="num-shopping-list-created" class="inline-block ml-2"><%= stats %></span>
            </div>
        </div>
    </div>
</footer>
</body>

</html>