<div id="new-item-container-wrapper" class="modal bg-yellow-200 p-2 max-w-lg mx-auto" style="display: none";>
  <div class="mb-4">
    <label for="new-item-input">
      Add Item
      <input type="text" id="new-item-input">
    </label>
  </div>
  <div id="choose-category">
    <div>
      <label class="cursor-pointer" for="Fruits">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Fruits" value="Fruits" />
        Fruits
      </label>
      <label class="cursor-pointer" for="Vegetables">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Vegetables" value="Vegetables" />
        Vegetables
      </label>
      <label class="cursor-pointer" for="Condiments">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Condiments" value="Condiments" />
        Condiments
      </label>
      <label class="cursor-pointer" for="Frozen">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Frozen" value="Frozen" />
        Frozen
      </label>
      <label class="cursor-pointer" for="Meat">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Meat" value="Meat" />
        Meat
      </label>
      <label class="cursor-pointer" for="Fresh">
        <input class="cursor-pointer checkbox-new-item" type="checkbox" id="Fresh" value="Fresh" />
        Fresh
      </label>
    </div>
  </div>
  <button class="float-right" id="add-new-item-btn">Add Item</button>
</div>

 