<div id="new-item" class="bg-white">
  <div>
    <label for="new-item-input">Add Item</label>
    <input type="text" id="new-item-input">
  </div>
  <div id="choose-category">
    <div>
      <input class="cursor-pointer" type="checkbox" id="Fruits" value="Fruits" />
      <label class="cursor-pointer" for="Fruits">Fruits</label>
      <input class="cursor-pointer" type="checkbox" id="Vegetables" value="Vegetables" />
      <label class="cursor-pointer" for="Vegetables">Vegetables</label>
      <input class="cursor-pointer" type="checkbox" id="Condiments" value="Condiments" />
      <label class="cursor-pointer" for="Condiments">Condiments</label>
      <input class="cursor-pointer" type="checkbox" id="Frozen" value="Frozen" />
      <label class="cursor-pointer" for="Frozen">Frozen</label>
      <input class="cursor-pointer" type="checkbox" id="Meat" value="Meat" />
      <label class="cursor-pointer" for="Meat">Meat</label>
      <input class="cursor-pointer" type="checkbox" id="Fresh" value="Fresh" />
      <label class="cursor-pointer" for="Fresh">Fresh</label>
    </div>
  </div>
</div>

 