<div 
    id="modal-protect-with-password"
    class="relative modal shadow-2xl bg-white p-2 max-w-md mx-auto"
    style="display: none"
>
    <input 
        id="input-protect-with-password"
        type="text" 
        placeholder="Enter New Password" 
        class="w-full bg-gray-200 rounded-tr rounded-tl shadow-inner focus:outline-0 border border-transparent py-2 pr-4 pl-10 block appearance-none leading-normal"
    >
    <button
        id="submit-btn-protect-with-password"
        class="bg-green-600 w-full preventAutoZoom hover:bg-green-800 px-6 rounded-br rounded-bl text-white py-2"
        >
        Save
    </button>
    <button
    class="absolute px-2 hover:bg-gray-700 rounded-full text-2xl text-white bg-gray-900"
    style="top: 0; right: 0;"
    id="cancel-btn-protect-with-password"
    >
     X
  </button>
</div>