<div 
    id="modal-protect-with-password"
    class="modal shadow-2xl bg-red-400 p-2 max-w-md mx-auto"
    style="display: none"
>
    <input 
        id="input-protect-with-password"
        type="password" 
        placeholder="Password" 
        class="w-full bg-white shadow-inner focus:outline-0 border border-transparent py-2 pr-4 pl-10 block appearance-none leading-normal"
    >
    <button
        id="submit-btn-protect-with-password"
        class="bg-green-600 w-full preventAutoZoom hover:bg-green-800 px-6 rounded-br rounded-bl text-white py-2"
        >
        Save
    </button>
</div>