<div
  id="list-section"
  class="w-full lg:max-w-sm mx-auto rounded"
  style="min-height: 5rem;"
>
  <%if(lists.length > 0){%> <% lists.forEach( list => {%>
  <div class="my-5 rounded">
    <h2
      id="list-title"
      class="bg-gray-800 text-white cursor-pointer uppercase p-2"
    >
      <%= list.title %>
    </h2>
    <ul id="lists-wrapper" style="display: none;">
      <% list.items.forEach( item => {%>
      <div class="flex justify-between border border-gray-200 bg-white px-2 py-1">
        <li class=""><%= item %></li>
        <button class="text-red-600">Done</button>
      </div>

      <%})%>
    </ul>
  </div>
  <%})%> <%}%>
</div>
