<div
  id="list-section"
  class="rounded"
  style="min-height: 5rem;"
>
 <h2 id="list-section-sub-element" class="text-gray-800 text-sm py-2 font-medium leading-4 tracking-wider">C. Shop</h2>
  <%if(lists.length > 0){%> <% lists.forEach( list => {%>
  <div class="mb-5 rounded">
    <div class="flex justify-between bg-gray-800 rounded-tr rounded-tl text-white cursor-pointer uppercase p-2">
      <h2
        id="list-title"
      >
        <%= list.title %>
      </h2>
      <button id="delete-list" data-id="<%= list._id %>" class="px-2">X</button>
    </div>

    <ul id="lists-wrapper" style="display: none;">
      <% list.items.forEach( item => {%>
      <div
        class="flex justify-between border border-gray-200 bg-white px-2 py-1"
      >
        <li><%= item %></li>
        <button class="text-red-600">Done</button>
      </div>

      <%})%>
    </ul>
  </div>
  <%})%> <%}%>
</div>
