<%- include('includes/header') %>
<section
  id="main-wrapper"
  class="mx-4 mt-10 mx-auto max-w-md flex justify-center flex-wrap"
>
  <div id="category-wrapper" class="m-2 w-full">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800 text-lg"
    >
      FRUITS
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white"
      id="checkboxes-wrapper-fruits"
      style="display: none;"
    ></div>
  </div>
  <div id="category-wrapper" class="m-2 w-full">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800 text-lg"
    >
      VEGETABLES
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white"
      id="checkboxes-wrapper"
      style="display: none;"
    ></div>
  </div>
  <button id="submit-btn">Submit</button>
</section>
<section class="mt-10">
  <%- include("includes/newItem") %>
</section>
<%- include('includes/footer') %>
